.mini-root{
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.5rem;
    position: relative;
    overflow: hidden;
}

.mini-root:hover {
    cursor: pointer;
}

.colors {
    background-color: #dae1e4;
    height: 150px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: black;
    padding-top: 0.5rem;
    font-size: 1rem;
}

.emoji {
    margin-left: 0.5rem;
    font-size: 1.5rem;
}

.mini-color {
    height: 25%;
    width: 20%;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    margin-bottom: -4.5px;
}