body a {
    text-decoration: none;
}

.root {
    background-color: blue;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.container {
    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.nav a {
    color: white;
    font-size: 1.4rem;
}

.palettes {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 5%;
}